<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.itcast.entity.Order">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="CAMPAIGN_ID" jdbcType="VARCHAR" property="campaignId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, GOODS_ID, CAMPAIGN_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tdorder
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tdorder
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itcast.entity.Order">
    insert into tdorder (ID, USER_ID, GOODS_ID, 
      CAMPAIGN_ID)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, 
      #{campaignId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itcast.entity.Order">
    insert into tdorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="goodsId != null">
        GOODS_ID,
      </if>
      <if test="campaignId != null">
        CAMPAIGN_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null">
        #{campaignId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcast.entity.Order">
    update tdorder
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null">
        CAMPAIGN_ID = #{campaignId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcast.entity.Order">
    update tdorder
    set USER_ID = #{userId,jdbcType=VARCHAR},
      GOODS_ID = #{goodsId,jdbcType=VARCHAR},
      CAMPAIGN_ID = #{campaignId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>